

<div class="container-fluid display full-width">
      <div class="col-md-12 col-sm-12 logo-container">
        <img src="assets/img/widji-logo.png" alt="Widji Logo"/>
      </div>
      <div class="col-md-12 outer-container full-width">
        <!-- baris 1 -->
        <div class="col-md-12 head">
          <div class="col-md-9">
            <p>nomor antrian</p>
          </div>
          <div class="col-md-3">
            <p>counter</p>
          </div>
        </div>
        <div class="col-md-12 counter full-width">
          <div class="col-md-9 pad-right">
            <div class="col-md-12 bg-cover">
              <p>01</p>
            </div>
          </div>
          <div class="col-md-3 bg-cover">
            <p>A</p>
          </div>
        </div>
        <!-- baris 2 -->
        <div class="col-md-12 head">
          <div class="col-md-9">
            <p>nomor antrian</p>
          </div>
          <div class="col-md-3">
            <p>counter</p>
          </div>
        </div>
        <div class="col-md-12 counter full-width">
          <div class="col-md-9 pad-right">
            <div class="col-md-12 bg-cover">
              <p>01</p>
            </div>
          </div>
          <div class="col-md-3 bg-cover">
            <p>B</p>
          </div>
        </div>
        <!-- baris 3 -->
        <div class="col-md-12 head">
          <div class="col-md-9">
            <p>nomor antrian</p>
          </div>
          <div class="col-md-3">
            <p>counter</p>
          </div>
        </div>
        <div class="col-md-12 counter full-width">
          <div class="col-md-9 pad-right">
            <div class="col-md-12 bg-cover">
              <p>01</p>
            </div>
          </div>
          <div class="col-md-3 bg-cover">
            <p>C</p>
          </div>
        </div>

      </div>
</div>
